
.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

       
       .big {
    transform: scale(1.5);
    transition: transform 0.3s ease;
   
}


#yesBtn {
    position: absolute;
    top: 70%;
    left: 30%;
    transition: transform 0.3s ease;
    z-index: 10;
}

#noBtn {
    position: absolute;
    top: 70%;
    left: 60%;
    z-index: 1;
}